*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    min-height: 100vh;
    background: url('images.jpeg') no-repeat;
background-size: cover;
background-position: center;
}
.header{  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(255, 0, 85);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;


}
.logo{
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;    
    font-family: 'Courier New', Courier, monospace;
}
.navbar a {
    position: relative;
    color: black;
    font-size: 20px;
     font-weight: 500;
     text-decoration: none;
     margin-left: 50px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar a::before{
   content: '';
   position: absolute;
   top: 100%;
   left: 0;
   width: 0;
   height: 2px;
   background: black;
   transition: .5s;

}
.navbar a:hover::before{
    width: 100%;
}

#box{
    float: right;
    margin-top: 10%;
    margin-right: 20%;
    padding-left: 20px;
}
.content{
    float: left;
    margin-top: 30%;
    padding: 50px;
    margin-left: 20%;
}